/**
  Reset
*/
*{
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: auto;
}

.header {
  color: #fff;
  background-color: #343A40;
}

.logo {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 27px;
  color: #DB4C3F;
}

.headerContaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNav-list {
  display: flex;
}

.headerLink {
  display: block;
  padding: 15px;
  transition: all ease-in-out 0.2s ;
}

.headerLink--active,
.headerLink:hover {
  background-color: #DB4C3F;
}

.headerNav-item:not(:last-child) {
  margin-right: 10px;
}
.title
{
  text-align: center;
  margin-top: 80px;
}

.todos__item {
  font-size: 20px;
  padding: 20px;
  margin-bottom: 8px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
  width: 50%;
  margin: auto;
  text-align: center;
}

.nature__container {
  padding-top: 15px;
}

.img-box {
 margin: auto;
 text-align: left;
 padding: 10px;
}

.image {

  width: 50%;
  margin: auto;
  float: left;
}

.quotes__container {
  padding-top: 15px;

  display: flex;

}

.not-found {
  display: flex;
  height: calc(100vh - 51.6px);
  align-items: center;
  justify-content: center;
  font-size: 120px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th
{
  color: #DB4C3F;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  box-shadow: 0 5px 2px rgba(191, 191, 191, 0.3);
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  box-shadow: 0 5px 2px rgba(191, 191, 191, 0.3);
}

tr:nth-child(even) {
  background-color: #dddddd;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #DB4C3F;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #DB4C3F;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
